# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment and secrets
.env

# Streamlit cache and logs
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Jupyter and notebooks
.ipynb_checkpoints
*.ipynb

# VSCode settings
.vscode/
